name: Deploy Bot to AWS Lambda

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1

      - name: Install Serverless
        run: |
          npm install -g serverless
          serverless plugin install -n serverless-python-requirements

      - name: Deploy with Serverless
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
        run: serverless deploy
